{% extends "recommendations/base.html" %}
{% block content %}
{% if user.like_set.exists %}
<div class="text-center">
    <a style="margin-bottom: 20px" class="btn btn-outline-primary" href="{% url 'recommendations:item_recommended' %}">
        Рассчет рекомендаций
    </a>
</div>
{% else %}
<div class="text-center">
    <a style="margin-bottom: 20px" class="btn btn-outline-secondary" href="#" data-toggle="tooltip"
       title="Сначала лайкните что-нибудь!">Рассчет рекомендаций</a>
</div>
{% endif %}
<form method="GET" action="{% url 'recommendations:category_list' %}">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="search" placeholder="Введите название категории...">
        <button type="submit" class="btn btn-primary">Поиск</button>
    </div>
</form>
<div class="row text-center">
    {% if object_list %}
    {% for object in object_list %}
    <div class="col-6">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                <h5>{{ object.description|slice:100 }}...</h5>
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-primary" href="{% url 'recommendations:item_list' object.pk %}">
                        Посмотреть
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div>
        <p>По вашему запросу ничего не найдено 😔</p>
        <a class="btn btn-outline-primary" href="{% url 'recommendations:category_list' %}">Вернуться на главную</a>
    </div>
    {% endif %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
    });
  });

</script>

{% endblock %}