{% extends "recommendations/base.html" %}
{% load my_tags %}
{% block content %}
<div class="row d-flex justify-content-center align-items-center text-center">
    <div class="col-md-4">
        {% if not object.is_published %}
        <p class="text-info bg-dark pt-1 pb-1" style="margin-top: 10px">
            Элемент обрабатывается модераторами. Подождите, когда пройдет проверка!
        </p>
        {% endif %}
        <h2>{{ object.name }}</h2>
        {% if object.picture %}
        <img src="{{ object.picture|media_path }}" class="card-img-top rounded" alt="Картинка">
        {% endif %}
        <p style="padding-top: 20px">{{ object.description }}</p>
        {% if object.created_at and not object.updated_at %}
        <p style="padding-top: 10px">Дата создания: <span class="text-primary">{{ object.created_at }}</span></p>
        {% else %}
        <p style="padding-top: 10px">Дата последнего изменения:
            <span class="text-primary">{{ object.updated_at }}</span>
        </p>
        {% endif %}
        <p style="padding-top: 10px">Категория: <span class="text-primary">{{ object.category.name }}</span></p>
        {% if not object.user.is_staff %}
        <p style="padding-top: 10px">Автор: <span class="text-primary">{{ object.user.email }}</span></p>
        {% endif %}
    </div>
</div>
{% endblock %}