{% extends "recommendations/base.html" %}
{% block content %}
<div class="mb-5 d-flex justify-content-center align-items-center">
    <a class="btn btn-primary" href="{% url 'recommendations:item_create' %}">Создать предпочтение</a>
</div>
<div class="row text-center">
    {% if object_list %}
    {% for object in object_list %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                <h5>{{ object.description|slice:100 }}...</h5>
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-primary" href="{% url 'recommendations:item_detail' object.pk %}">
                        Посмотреть
                    </a>
                    <a class="btn btn-outline-primary" href="{% url 'recommendations:item_update' object.pk %}">
                        Редактировать
                    </a>
                    <a class="btn btn-outline-primary" href="{% url 'recommendations:item_delete' object.pk %}">
                        Удалить
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div>
        <p>У вас пока нет предпочтений 😔</p>
    </div>
    {% endif %}
</div>
{% endblock %}